body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat; }
  
a {
  color: #4d4d4d; }
  a:hover {
    color: #cbcbcb; }
    
.nav {
  width: 100%;
  border-top: 4px solid #4d4d4d;
  margin: 0 auto; }

.header {
  width: 550px;
  margin: 40px auto 0;
  text-align: center;
  position: relative; }
  .header h2 {
    font-size: 50px;
    letter-spacing: -1px;
    color: #333333;
    margin: 0;
    padding: 0; }
  .header a {
    text-decoration: none;
    color: #333333; }
    .header a:hover {
      text-decoration: underline; }
  .header h3 {
    margin: 0;
    padding: 0;
    color: #777777;
    font-size: 22px;
    font-weight: normal; }
  .header hr {
    margin: 20px 0 20px;
    padding: 0;
    width: 100%;
    height: 0;
    border: none;
    border-bottom: 1px solid #cccccc; }

.social-bar {
  position: relative;
  padding-top: 15px;
  margin-bottom: 50px; }

.social-bar-buttons {
  position: absolute;
  top: 16px;
  right: 0;
  left: 0;
  margin: auto;
  width: 230px;
  text-align: center; }
  .social-bar-buttons:after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both; }
  .social-bar-buttons a {
    display: block;
    float: left;
    font-size: 14px;
    padding: 4.667px 14px;
    color: white;
    text-decoration: none;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
    background-color: #eeeeee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(0, 0, 0, 0.3)));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0.3));
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.12), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent; }
    .social-bar-buttons a:hover {
      background-color: white; }
    .social-bar-buttons a:first-child {
      border-left: none;
      -moz-border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px; }
    .social-bar-buttons a:last-child {
      border-right: none;
      -moz-border-radius: 0 4px 4px 0px;
      -webkit-border-radius: 0 4px 4px 0px;
      border-radius: 0 4px 4px 0px; }
    .social-bar-buttons a.active, .social-bar-buttons a:active {
      background-color: #eeeeee;
      -moz-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.4), inset 0 -1px 0 rgba(255, 255, 255, 0.3), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
      -webkit-box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.4), inset 0 -1px 0 rgba(255, 255, 255, 0.3), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
      box-shadow: inset 0 3px 4px rgba(0, 0, 0, 0.4), inset 0 -1px 0 rgba(255, 255, 255, 0.3), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
      background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.2)));
      background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2));
      border-right: 1px solid rgba(255, 255, 255, 0.05); }
  .social-bar-buttons a {
    color: #333333;
    text-shadow: none;
    position: relative;
    height: 24px;
    padding: 5px 10px 5px 34px;
    line-height: 24px;
    border-top: 1px solid #cccccc;
    border-bottom: 4px solid #aaaaaa;
    -moz-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 rgba(255, 255, 255, 0.8), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
    -webkit-box-shadow: inset 0 1px 0 white, inset 0 -1px 0 rgba(255, 255, 255, 0.8), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
    box-shadow: inset 0 1px 0 white, inset 0 -1px 0 rgba(255, 255, 255, 0.8), 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eeeeee));
    background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee); }
    .social-bar-buttons a:hover, .social-bar-buttons a.active {
      background: #ebebeb; }
    .social-bar-buttons a:first-child {
      border-left: 1px solid #cccccc;
      padding-left: 34px; }
    .social-bar-buttons a:last-child {
      border-right: 1px solid #cccccc; }
    .social-bar-buttons a img {
      position: absolute;
      left: 10px;
      display: block; }

.wrapper {
  width: 550px;
  margin: 20px auto 0;
  text-align: left; }

.homepage {
  list-style: none; }
  .homepage a {
    color: #333333;
    font-weight: bold;
    text-decoration: none;
    display: block; }
    .homepage a:hover {
      background: #eeeeee; }
  .homepage li {
    padding: 10px 0;
    border-bottom: 1px solid #cccccc;
    font-size: 18px; }
    .homepage li span {
      color: #555555;
      font-size: 15px;
      font-weight: normal; }

.post {
  font-family: "Impact, fantasy", serif;
  margin-top: 40px; }
  .post h1 {
    font-size: 40px;
    font-weight: bold;
    color: #333333;
    margin: 0; }
  .post h2 {
    color: #5d5d5d;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin: 40px 0 20px; }
  .post p, .post ul, .post ol {
    font-size: 18px;
    line-height: 25px; }
  .post img {
    position: relative;
    padding: 12px;
    background: white;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset, 0 0 0 transparent, 0 0 0 transparent, 0 0 0 transparent; }

#lefthover, #righthover {
  position: fixed;
  width: 25%;
  height: 100%;
  text-decoration: none; }
  #lefthover .arrow-container, #righthover .arrow-container {
    position: fixed;
    top: 50%;
    margin-top: -75px; }
  #lefthover h3, #righthover h3 {
    position: absolute;
    display: none;
    color: #333333;
    margin: 0px;
    min-width: 120px;
    word-wrap: break-word; }
    #lefthover h3 small, #righthover h3 small {
      color: #555555;
      font-weight: normal;
      display: block; }
  #lefthover .hover-box, #righthover .hover-box {
    display: none;
    background: #eeeeee;
    border: 1px solid #cccccc;
    padding: 15px;
    position: absolute; }
    #lefthover .hover-box img, #righthover .hover-box img {
      display: block;
      margin: 0 auto;
      width: 45px; }
  #lefthover:hover h3, #righthover:hover h3 {
    display: block; }
  #lefthover:hover .hover-box, #righthover:hover .hover-box {
    display: block;
    background: #eeeeee; }

#lefthover {
  left: 0; }
  #lefthover .arrow-container {
    left: 0; }
  #lefthover h3 {
    left: 100px; }
  #lefthover .hover-box {
    left: 0; }

#righthover {
  right: 0; }
  #righthover .arrow-container {
    right: 0; }
  #righthover h3 {
    right: 100px; }
  #righthover .hover-box {
    right: 0; }

.when {
    font-size: 14px;
    text-transform: uppercase;
    color: #4d4d4d;
    width: 150px;
    display: block;
    text-align: right;
    margin: 23px 0 0 -210px;
    float: left; }

code {
  margin:0 2px;
  padding:0px 5px;
  border:1px solid #ddd;
  font-size:13px;
  background-color:#f8f8f8;
  border-radius:3px; }

pre code {
  background-color:#f8f8f8;
  border:1px solid #ddd;
  font-size:13px;
  line-height:19px;
  overflow:auto;
  padding:6px 10px;
  border-radius:3px;
  display: block; }